body {

}
// Common
.loading-box {
  padding: 15px;
  text-align: center;
}

// Login page
.login-page {
 	.login-logo {
		text-align: center;
		display: block;
		margin-top: 120px;
		margin-bottom: 50px;
    & > img {
      height: 100px;
    }
	}
}

 //Add top margin to any page with fixed header
.navbar-fixed-top {width: 100%; position:fixed !important}
.navbar-fixed-top  {
 	+ #wrapper, + #layout-fixed {padding-top: 50px !important;}
}
#wrapper {display:table;width: 100%; table-layout: fixed; overflow: hidden;}
#layout-static {display: table-row; height: 100%;}
.static-sidebar-wrapper {display: table-cell; overflow: hidden;}
.static-sidebar-wrapper, .static-sidebar {width: 260px;}
.static-content-wrapper {display: table-cell;}
.static-sidebar-wrapper, .static-content-wrapper {vertical-align: top;}

// Topbar
#topnav {
  &.navbar-default .navbar-brand {
    background: url("../images/tc_logo.png") no-repeat 0 10px;
  }
}
.topnav-collapsed #topnav {
  &.navbar-default .navbar-brand {
    background: url("../images/tc_logo.png") no-repeat 0 0;
  }
}

// Sidebar
.sidebar nav.widget-body > ul.acc-menu li.open ul {
  display: block;
}

// Layout
.static-content {
  .page-content {
    /* Page Heading */
    .page-heading {background: #e6eaed; padding: 20px; margin: 0 -10px 20px;}
    .page-heading h1 {float: left; margin: 0; line-height: 34px; font-weight: 300; font-size: 22px;}
    .page-heading .options {float: right;}
  }
}

// Tasks
.task-list {
  table {
    .icheck {
      margin: 0 -20px 0 0 !important;
    }
  }
}
.task-detail {
  &__right-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      display: inline-block;
      margin: 10px 0 0 5px;
    }
  }
}

// Circles
.panel-profile .table-userinfo td:first-child {
  font-weight: bold;
}
.circle-detail {

}

// Fixed data table
.fixedDataTableLayout_main {
  border-width: 0.5px !important;
  .label-block {
    display: block;
  }
  .cellImage {
    background: #efefef;
    background-size: 100%;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
}
